#footer .conteudo-rodape {
    font-size: 14px;
}

#footer .conteudo-rodape a, p {
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

#footer .conteudo-rodape a{
    color: #0075a8;
}

#footer .conteudo-rodape p{
    color: #101010;
}

#footer .conteudo-rodape a:hover {
    color: #00405c;
    text-decoration: none;
}
