#map {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 15px;
}

#map a{
    background-color: transparent;
    color: #0075a8;
    text-decoration: none;
}

#map a:hover {
    color: #00405c;
    text-decoration: none;
}


#map ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


#map .menu{
    border-bottom: 1px solid #e3eaed;
}


#map .menu a {
    font-weight: bold;
    margin-left: 1.5rem;
    line-height: 3rem;
}


#map .sub_menu a {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1.2rem;
    position: relative;
    font-weight: normal;
}


#map .sub_menu a::before {
    border-left: 2px solid #6b8894;
    border-top: 2px solid #6b8894;
}


.page-content {
    font-size: 14px;
    /*line-height: 2;*/
}

